 #adh_cart_display  {
    background-color: gold;
    display: inline-block;
    position: absolute;
    right: 100%;
    top:20px;
    z-index: 10;
    opacity: 0.9;
}

#adh_cart_summary {
    position: relative;
}

